.footer{
    background-color: darkolivegreen;
    position: static;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 80px 20px;
    color: antiquewhite;
    align-items: start;
    align-content: start;
}
.footer h1{
    margin: 0;
    color: aquamarine;
}
.footer .about{
    width: 25%;
}
.footer h3{
    margin: 0px;
    padding-bottom: 20px;
}
.footer .title{
    color: darkcyan;
}